h1,
h2 {
    text-align: center;
}

.horizontal-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.horizontal-list li {
    margin-right: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
  padding: 20px;
}
